In [0]:
data1 = [(1,'Nilesh','55000'),(2,'Nita','90000')]
columns =['id','name','salary']
df = spark.createDataFrame(data = data1, schema= columns)
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
+---+------+------+

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [0]:
from pyspark.sql.functions import col
df1 = df.withColumn(colName='salary1', col=col('salary').cast('Integer'))
df1.show()

+---+------+------+-------+
| id|  name|salary|salary1|
+---+------+------+-------+
|  1|Nilesh| 55000|  55000|
|  2|  Nita| 90000|  90000|
+---+------+------+-------+

In [0]:
help(df.withColumn)

Help on method withColumn in module pyspark.sql.dataframe:

withColumn(colName: str, col: pyspark.sql.column.Column) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by adding a column or replacing the
    existing column that has the same name.

    The column expression must be an expression over this :class:`DataFrame`; attempting to add
    a column from some other :class:`DataFrame` will raise an error.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with new or replaced column.

    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with multiple columns at once.

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.withColumn('age2', df.age + 2).show()
    +---+-----+----+
    |age| name|age2|
    +---+-----+----+
    |  2|Alice|   4|
    |  5|  Bob|   7|
    +---+-----+----+

In [0]:
from pyspark.sql.functions import col
df1 = df.withColumn(colName='salary1', col=col('salary').cast('Integer'))\
    .withColumns('salary2', col=col('salary').cast('float'))
df1.show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-756602108440970>:2
      1 from pyspark.sql.functions import col
----> 2 df1 = df.withColumn(colName='salary1', col=col('salary').cast('Integer'))\
      3     .withColumns('salary2', col=col('salary').cast('float'))
      4 df1.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: withColumns() got an unexpected keyword argument 'col'

In [0]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- salary1: integer (nullable = true)

In [0]:
df1.show()

+---+------+------+-------+
| id|  name|salary|salary1|
+---+------+------+-------+
|  1|Nilesh| 55000|  55000|
|  2|  Nita| 90000|  90000|
+---+------+------+-------+

In [0]:
df2 = df1.withColumn('commission', col('salary')*0.05)
df2.show()

+---+------+------+-------+----------+
| id|  name|salary|salary1|commission|
+---+------+------+-------+----------+
|  1|Nilesh| 55000|  55000|    2750.0|
|  2|  Nita| 90000|  90000|    4500.0|
+---+------+------+-------+----------+

In [0]:
df1 = df1.withColumn('salary', col('salary')*0.05)
df1.show()

In [0]:
## passing hard coded values and creating new columns
from pyspark.sql.functions import col, lit
df3 = df2.withColumn('company', lit('bizmetric'))
df3.show()

+---+------+------+-------+----------+---------+
| id|  name|salary|salary1|commission|  company|
+---+------+------+-------+----------+---------+
|  1|Nilesh| 55000|  55000|    2750.0|bizmetric|
|  2|  Nita| 90000|  90000|    4500.0|bizmetric|
+---+------+------+-------+----------+---------+

In [0]:
## change the column name
df4 = df3.withColumnRenamed('salary','sal1')
df4.show()

+---+------+-----+-------+----------+---------+
| id|  name| sal1|salary1|commission|  company|
+---+------+-----+-------+----------+---------+
|  1|Nilesh|55000|  55000|    2750.0|bizmetric|
|  2|  Nita|90000|  90000|    4500.0|bizmetric|
+---+------+-----+-------+----------+---------+

In [0]:
df4 = df3.withColumnRenamed({('salary','sal1'), ('name','fname')})
df4.show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-756602108440973>:1
----> 1 df4 = df3.withColumnRenamed({('salary','sal1'), ('name','fname')})
      2 df4.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: withColumnRenamed() missing 1 required positional argument: 'new'

In [0]:
from pyspark.sql.types import *

data1 = [(1,'Nilesh',55000, (203, 'A2', 'A PARK', 'Senapati marg')),(2,'Nita',90000,(205, 'A3', 'B PARK', 'Tilak marg'))]
###columns =['id','name1','salary', 'Address']

address = StructType([StructField(name = 'flat_num', dataType = IntegerType()),\
                       StructField(name = 'build_num', dataType = StringType()),\
                           StructField(name = 'build_name', dataType = StringType()),\
                               StructField(name = 'road', dataType = StringType())])

schema1 = StructType([StructField(name = 'id', dataType = IntegerType()),\
                       StructField(name = 'name1', dataType = StringType()),\
                           StructField(name = 'salary', dataType = IntegerType()),\
                               StructField(name = 'Address', dataType = address)])


df = spark.createDataFrame(data = data1, schema= schema1)
df.show(truncate = False)

+---+------+------+--------------------------------+
|id |name1 |salary|Address                         |
+---+------+------+--------------------------------+
|1  |Nilesh|55000 |{203, A2, A PARK, Senapati marg}|
|2  |Nita  |90000 |{205, A3, B PARK, Tilak marg}   |
+---+------+------+--------------------------------+

In [0]:
df.printSchema()
display(df)

root
 |-- id: integer (nullable = true)
 |-- name1: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- Address: struct (nullable = true)
 |    |-- flat_num: integer (nullable = true)
 |    |-- build_num: string (nullable = true)
 |    |-- build_name: string (nullable = true)
 |    |-- road: string (nullable = true)

id,name1,salary,Address
1,Nilesh,55000,"List(203, A2, A PARK, Senapati marg)"
2,Nita,90000,"List(205, A3, B PARK, Tilak marg)"

In [0]:
df.printSchema()

In [0]:
display(df)

In [0]:
from pyspark.sql.types import *

data1 = [(1,'Nilesh',[203,204 ]),(2,'Nita',[90,80])]
columns =['id','name1', 'numbers']


df = spark.createDataFrame(data = data1, schema= columns)
df.show()

+---+------+----------+
| id| name1|   numbers|
+---+------+----------+
|  1|Nilesh|[203, 204]|
|  2|  Nita|  [90, 80]|
+---+------+----------+

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name1: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [0]:
from pyspark.sql.types import *

data1 = [(1,'Nilesh',[203,204] ),(2,'Nita',[90,80])]
#columns =['id','name1', 'numbers']

schema1 = StructType([StructField(name = 'id', dataType = IntegerType()),\
                       StructField(name = 'name1', dataType = StringType()),\
                           StructField(name = 'number', dataType =ArrayType(IntegerType()))])

df = spark.createDataFrame(data = data1, schema = schema1)
df.show()
df.printSchema()

+---+------+----------+
| id| name1|    number|
+---+------+----------+
|  1|Nilesh|[203, 204]|
|  2|  Nita|  [90, 80]|
+---+------+----------+

root
 |-- id: integer (nullable = true)
 |-- name1: string (nullable = true)
 |-- number: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [0]:
df.select(col('number')[1]).show()

+---------+
|number[1]|
+---------+
|      204|
|       80|
+---------+

In [0]:
from pyspark.sql.functions import col, lit
df.withColumn('new_col', col('number')[0]).show()

+---+------+----------+-------+
| id| name1|    number|new_col|
+---+------+----------+-------+
|  1|Nilesh|[203, 204]|    203|
|  2|  Nita|  [90, 80]|     90|
+---+------+----------+-------+

In [0]:

schema1 = StructType([StructField(name = 'id', dataType = IntegerType()),\
                       StructField(name = 'name1', dataType = StringType()),\
                           StructField(name = 'number', dataType = ArrayType(IntegerType()))])

In [0]:
data1 = [(203,204 ),(90,80)]
columns =['name1', 'numbers']

df = spark.createDataFrame(data = data1, schema = columns)
df.show()
df.printSchema()

+-----+-------+
|name1|numbers|
+-----+-------+
|  203|    204|
|   90|     80|
+-----+-------+

root
 |-- name1: long (nullable = true)
 |-- numbers: long (nullable = true)

In [0]:
from pyspark.sql.functions import col, array
data1 = [(203,204 ),(90,80)]
columns =['name1', 'numbers']

df = spark.createDataFrame(data = data1, schema = columns)
df2 = df.withColumn('Collection', array(col('name1'),col('numbers')))
df2.show()
df2.printSchema()

+-----+-------+----------+
|name1|numbers|Collection|
+-----+-------+----------+
|  203|    204|[203, 204]|
|   90|     80|  [90, 80]|
+-----+-------+----------+

root
 |-- name1: long (nullable = true)
 |-- numbers: long (nullable = true)
 |-- Collection: array (nullable = false)
 |    |-- element: long (containsNull = true)

### Operations on array type columns
explode()

split()

array()

array_contains()

In [0]:
from pyspark.sql.functions import col, array
data1 = [(2,'Sunita', ['football','Archary']),(3,'Fatima',['Baseball','chess'])]
columns =['id', 'name', 'games']

df = spark.createDataFrame(data = data1, schema = columns)
display(df)
df.printSchema()

id,name,games
2,Sunita,"List(football, Archary)"
3,Fatima,"List(Baseball, chess)"

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- games: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [0]:
from pyspark.sql.functions import explode

df.show()
df_Exp = df.withColumn('game_details', explode(col('games')))
df_Exp.show()
df_Exp.printSchema()

+---+------+-------------------+
| id|  name|              games|
+---+------+-------------------+
|  2|Sunita|[football, Archary]|
|  3|Fatima|  [Baseball, chess]|
+---+------+-------------------+

+---+------+-------------------+------------+
| id|  name|              games|game_details|
+---+------+-------------------+------------+
|  2|Sunita|[football, Archary]|    football|
|  2|Sunita|[football, Archary]|     Archary|
|  3|Fatima|  [Baseball, chess]|    Baseball|
|  3|Fatima|  [Baseball, chess]|       chess|
+---+------+-------------------+------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- games: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- game_details: string (nullable = true)

In [0]:
from pyspark.sql.functions import split

data1 = [(2,'Sunita', 'football,Archary'),(3,'Fatima','Baseball,chess')]
columns =['id', 'name', 'games']

df = spark.createDataFrame(data = data1, schema = columns)

df.show()
df_split = df.withColumn('game_details', split('games', ','))
df_split.show()
df_split.printSchema()

+---+------+----------------+
| id|  name|           games|
+---+------+----------------+
|  2|Sunita|football,Archary|
|  3|Fatima|  Baseball,chess|
+---+------+----------------+

+---+------+----------------+-------------------+
| id|  name|           games|       game_details|
+---+------+----------------+-------------------+
|  2|Sunita|football,Archary|[football, Archary]|
|  3|Fatima|  Baseball,chess|  [Baseball, chess]|
+---+------+----------------+-------------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- games: string (nullable = true)
 |-- game_details: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [0]:
display(df_split)

id,name,games,game_details
2,Sunita,"football,Archary","List(football, Archary)"
3,Fatima,"Baseball,chess","List(Baseball, chess)"

In [0]:
data1 = [(2,'Sunita', 'football','Archary'),(3,'Fatima','Baseball','chess')]
columns =['id', 'name', 'game1','game2']

df = spark.createDataFrame(data = data1, schema = columns)

df.show()
#df_split = df.withColumn('game_details', split('games', ','))
#df_split.show()
#df_split.printSchema()

In [0]:
from pyspark.sql.functions import array,col

df2 = df.withColumn('GAMES', array(col('game1'), col('game2')))
df2.show()

In [0]:
data1 = [(2,'Sunita', ['football','Archary']),(3,'Fatima',['Baseball', 'chess'])]
columns =['id', 'name', 'games']

df = spark.createDataFrame(data = data1, schema = columns)

df.show()

+---+------+-------------------+
| id|  name|              games|
+---+------+-------------------+
|  2|Sunita|[football, Archary]|
|  3|Fatima|  [Baseball, chess]|
+---+------+-------------------+

In [0]:
### check if particular element is avaialble or not
from pyspark.sql.functions import array_contains, col


df_check = df.withColumn('check_chess', array_contains(col('games'), 'chess'))
df_check.show()
df_check.printSchema()

+---+------+-------------------+-----------+
| id|  name|              games|check_chess|
+---+------+-------------------+-----------+
|  2|Sunita|[football, Archary]|      false|
|  3|Fatima|  [Baseball, chess]|       true|
+---+------+-------------------+-----------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- games: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- check_chess: boolean (nullable = true)

### MAP TYPE column

In [0]:
from pyspark.sql.types import StructType, StructField, MapType

data1 = [('Sunita', {'g1': 'football', 'g2': 'Archary'}),('Fatima',{'g1': 'Baseball', 'g2': 'chess'})]
columns =['name', 'games']

#columns = StructType([ StructField('name', StringType()),  StructField('games', MapType(StringType(), StringType()))  ])

df = spark.createDataFrame(data = data1, schema = columns)

df.show(truncate=False)

+------+-------------------------------+
|name  |games                          |
+------+-------------------------------+
|Sunita|{g1 -> football, g2 -> Archary}|
|Fatima|{g1 -> Baseball, g2 -> chess}  |
+------+-------------------------------+

In [0]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- games: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

#### accessing elements from map

In [0]:
df2 = df.withColumn('game1', df.games['g1'])
df2.show()

+------+--------------------+--------+
|  name|               games|   game1|
+------+--------------------+--------+
|Sunita|{g1 -> football, ...|football|
|Fatima|{g1 -> Baseball, ...|Baseball|
+------+--------------------+--------+

In [0]:
df2 = df.withColumn('game1', df.games.getItem('g1'))
df2.show()

explode()

map_keys()

map_values()

In [0]:
df.show()

+------+--------------------+
|  name|               games|
+------+--------------------+
|Sunita|{g1 -> football, ...|
|Fatima|{g1 -> Baseball, ...|
+------+--------------------+

In [0]:
from pyspark.sql.functions import explode

df_map_exp = df.select('name','games',explode(df.games))
df_map_exp.show(truncate = False)

+-------------------------------+---+--------+
|games                          |key|value   |
+-------------------------------+---+--------+
|{g1 -> football, g2 -> Archary}|g1 |football|
|{g1 -> football, g2 -> Archary}|g2 |Archary |
|{g1 -> Baseball, g2 -> chess}  |g1 |Baseball|
|{g1 -> Baseball, g2 -> chess}  |g2 |chess   |
+-------------------------------+---+--------+

In [0]:
from pyspark.sql.functions import map_keys

df_map_keys = df.withColumn('keys', map_keys(df.games))
df_map_keys.show()

+------+--------------------+--------+
|  name|               games|    keys|
+------+--------------------+--------+
|Sunita|{g1 -> football, ...|[g1, g2]|
|Fatima|{g1 -> Baseball, ...|[g1, g2]|
+------+--------------------+--------+

In [0]:
df_map_keys.printSchema()

root
 |-- name: string (nullable = true)
 |-- games: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- keys: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [0]:
from pyspark.sql.functions import map_values

df_map_values = df.withColumn('values', map_values(df.games))
df_map_values.show()

+------+--------------------+-------------------+
|  name|               games|             values|
+------+--------------------+-------------------+
|Sunita|{g1 -> football, ...|[football, Archary]|
|Fatima|{g1 -> Baseball, ...|  [Baseball, chess]|
+------+--------------------+-------------------+

## ROW

#### from pyspark.sql import row

In [0]:
from pyspark.sql import Row
r1 = Row(1,'Nishad')
print(r1)

<Row(1, 'Nishad')>

In [0]:
type(r1)

Out[2]: pyspark.sql.types.Row

In [0]:
print(r1[0], r1[1])
print(str(r1[0]), r1[1])

1 Nishad
1 Nishad

In [0]:
from pyspark.sql import Row

r1 = Row(id= 1, name= 'Nishad')
print(r1)

In [0]:
r1['id'],  r1['name']

In [0]:
from pyspark.sql import Row

r1 = Row(id= 1, name= 'Nishad')
r2= Row(id= 2, name= 'Nisha')
data =[r1, r2]

df= spark.createDataFrame(data)
df.show()
df.printSchema()

+---+------+
| id|  name|
+---+------+
|  1|Nishad|
|  2| Nisha|
+---+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [0]:
### creating class of row with customized values
student = Row('id','name')

r1= student(1,'Navin')
r2= student(2,'Nalini')
r3= student(3,'Nilima')

print(r1.id, r1.name)

data1 =[r1, r2,r3 ]

df= spark.createDataFrame(data1)
df.show()
df.printSchema()

1 Navin
+---+------+
| id|  name|
+---+------+
|  1| Navin|
|  2|Nalini|
|  3|Nilima|
+---+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [0]:
### creating class of row with customized values
rank = Row('g1','rank')
student = Row('id','name', 'rank')

r1= student(1,'Navin', rank('sketing','3'))
r2= student(2,'Nalini', rank('sketing','3'))
r3= student(3,'Nilima', rank('sketing','3'))

print(r1.id, r1.name)

data1 =[r1, r2,r3 ]

df= spark.createDataFrame(data1)
df.show()
df.printSchema()

1 Navin
+---+------+------------+
| id|  name|        rank|
+---+------+------------+
|  1| Navin|{sketing, 3}|
|  2|Nalini|{sketing, 3}|
|  3|Nilima|{sketing, 3}|
+---+------+------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- rank: struct (nullable = true)
 |    |-- g1: string (nullable = true)
 |    |-- rank: string (nullable = true)

In [0]:
data = [Row(name ='Nisha', game = Row(g1='chess', rank =2)),\
        Row(name ='Nima', game = Row(g1 ='chess', rank =3)),\
             Row(name ='Nila', game = Row(g1 ='football', rank =10))]

df =  spark.createDataFrame(data)
df.show()
df.printSchema()

+-----+--------------+
| name|          game|
+-----+--------------+
|Nisha|    {chess, 2}|
| Nima|    {chess, 3}|
| Nila|{football, 10}|
+-----+--------------+

root
 |-- name: string (nullable = true)
 |-- game: struct (nullable = true)
 |    |-- g1: string (nullable = true)
 |    |-- rank: long (nullable = true)

In [0]:
display(df)

name,game
Nisha,"List(chess, 2)"
Nima,"List(chess, 3)"
Nila,"List(football, 10)"

## COL operations

In [0]:
from pyspark.sql.functions import lit

col1= lit('abcd')
type(col1)

Out[17]: pyspark.sql.column.Column

In [0]:
data = [('Nisha','chess', 2),\
        ('Nima', 'chess', 3),\
             ('Nila', 'football',10)]

schema1=['name', 'game', 'rank']

df =  spark.createDataFrame(data, schema1)
df.show()
df.printSchema()

+-----+--------+----+
| name|    game|rank|
+-----+--------+----+
|Nisha|   chess|   2|
| Nima|   chess|   3|
| Nila|football|  10|
+-----+--------+----+

root
 |-- name: string (nullable = true)
 |-- game: string (nullable = true)
 |-- rank: long (nullable = true)

In [0]:
df1 = df.withColumn('SCHOOL', lit("SYMBIOSIS"))
df1.show()
df1.printSchema()

+-----+--------+----+---------+
| name|    game|rank|   SCHOOL|
+-----+--------+----+---------+
|Nisha|   chess|   2|SYMBIOSIS|
| Nima|   chess|   3|SYMBIOSIS|
| Nila|football|  10|SYMBIOSIS|
+-----+--------+----+---------+

root
 |-- name: string (nullable = true)
 |-- game: string (nullable = true)
 |-- rank: long (nullable = true)
 |-- SCHOOL: string (nullable = false)

In [0]:
### fecting the columns
from pyspark.sql.functions import col
df1.select(df1.name).show()
df1.select(df1['name']).show()
df1.select(['name','game','SCHOOL']).show()
df1.select('*').show()
df1.select([col for col in df1.columns]).show()
df1.select(col('name')).show()

+-----+
| name|
+-----+
|Nisha|
| Nima|
| Nila|
+-----+

+-----+
| name|
+-----+
|Nisha|
| Nima|
| Nila|
+-----+

+-----+--------+---------+
| name|    game|   SCHOOL|
+-----+--------+---------+
|Nisha|   chess|SYMBIOSIS|
| Nima|   chess|SYMBIOSIS|
| Nila|football|SYMBIOSIS|
+-----+--------+---------+

+-----+--------+----+---------+
| name|    game|rank|   SCHOOL|
+-----+--------+----+---------+
|Nisha|   chess|   2|SYMBIOSIS|
| Nima|   chess|   3|SYMBIOSIS|
| Nila|football|  10|SYMBIOSIS|
+-----+--------+----+---------+

+-----+--------+----+---------+
| name|    game|rank|   SCHOOL|
+-----+--------+----+---------+
|Nisha|   chess|   2|SYMBIOSIS|
| Nima|   chess|   3|SYMBIOSIS|
| Nila|football|  10|SYMBIOSIS|
+-----+--------+----+---------+

+-----+
| name|
+-----+
|Nisha|
| Nima|
| Nila|
+-----+

In [0]:
from pyspark.sql.types import *
data = [('Nisha','chess', 2, ('round1','satara')),\
        ('Nima', 'chess', 3, ('round2','Pune')),\
             ('Nila', 'football',10, ("final",'Delhi'))]

prop = StructType([ StructField( 'round',StringType() ),\
    StructField( 'location',StringType() )])

schema1=StructType([StructField('name', StringType() ) ,\
            StructField( 'game',StringType() ),\
            StructField('rank', IntegerType()),\
            StructField('Compitition', prop )])

df =  spark.createDataFrame(data, schema1)
df.show()
df.printSchema()

+-----+--------+----+----------------+
| name|    game|rank|     Compitition|
+-----+--------+----+----------------+
|Nisha|   chess|   2|{round1, satara}|
| Nima|   chess|   3|  {round2, Pune}|
| Nila|football|  10|  {final, Delhi}|
+-----+--------+----+----------------+

root
 |-- name: string (nullable = true)
 |-- game: string (nullable = true)
 |-- rank: integer (nullable = true)
 |-- Compitition: struct (nullable = true)
 |    |-- round: string (nullable = true)
 |    |-- location: string (nullable = true)

In [0]:
df.select(df.Compitition).show()

+----------------+
|     Compitition|
+----------------+
|{round1, satara}|
|  {round2, Pune}|
|  {final, Delhi}|
+----------------+

In [0]:
df.select(df.Compitition.location).show()

+--------------------+
|Compitition.location|
+--------------------+
|              satara|
|                Pune|
|               Delhi|
+--------------------+

In [0]:
from pyspark.sql.functions import col
df.select(col('Compitition.location')).show()

+--------+
|location|
+--------+
|  satara|
|    Pune|
|   Delhi|
+--------+

## When and otherwise function in pyspark

In [0]:
data = [('Nisha','chess', 'Pune'),\
        ('Nima', 'chess', 'satara' ),\
             ('Nila', 'football','')]

schema1 = ['name','game','location']

df =  spark.createDataFrame(data, schema1)
df.show()
df.printSchema()

+-----+--------+--------+
| name|    game|location|
+-----+--------+--------+
|Nisha|   chess|    Pune|
| Nima|   chess|  satara|
| Nila|football|        |
+-----+--------+--------+

root
 |-- name: string (nullable = true)
 |-- game: string (nullable = true)
 |-- location: string (nullable = true)

In [0]:
from pyspark.sql.functions import when
df1 = df.select(df.name, df.game, when(df.location == "Pune" , 'nearby').when(df.location == "satara" , 'far').otherwise('UNKNOWN').alias('distance')   )
df1.show()

+-----+--------+--------+
| name|    game|distance|
+-----+--------+--------+
|Nisha|   chess|  nearby|
| Nima|   chess|     far|
| Nila|football| UNKNOWN|
+-----+--------+--------+

## alias(), cast(), asc(), desc(), cast(), like()

In [0]:
data1 = [(1,'Nilesh','55000'),(2,'Nita','90000')]
columns =['id','name','salary']
df = spark.createDataFrame(data = data1, schema= columns)
df.show()
df.select(df.id.alias('emp_id'), df.name.alias("First_name")).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
+---+------+------+

+------+----------+
|emp_id|First_name|
+------+----------+
|     1|    Nilesh|
|     2|      Nita|
+------+----------+

In [0]:
### sorting the data
data1 = [(1,'Nilesh','55000'),(2,'Nita','90000')]
columns =['id','name','salary']
df = spark.createDataFrame(data = data1, schema= columns)
df.show()
df.sort(df.name.desc()).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
+---+------+------+

+---+------+------+
| id|  name|salary|
+---+------+------+
|  2|  Nita| 90000|
|  1|Nilesh| 55000|
+---+------+------+

In [0]:
### sorting the data
data1 = [(1,'Nilesh','55000'),(2,'Nita','90000'),(3,'Sunita','10000'),(4,'Nandan','100000'),(5,'Nandan','1200000'),(1,'Nilesh','55000')]
columns =['id','name','salary']
df = spark.createDataFrame(data = data1, schema= columns)
df.show()
df.printSchema()
df.sort(df.name.desc()).show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
+---+------+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  3|Sunita|  10000|
|  2|  Nita|  90000|
|  1|Nilesh|  55000|
|  1|Nilesh|  55000|
|  5|Nandan|1200000|
|  4|Nandan| 100000|
+---+------+-------+

In [0]:
## converting data type to integer
df1 = df.select(df.id, df.name, df.salary.cast('int'))
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

## Filter and where

In [0]:
df.filter(df.name.like('%t%')).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  2|  Nita| 90000|
|  3|Sunita| 10000|
+---+------+------+

In [0]:
df.filter( df.salary >50000).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
|  4|Nandan|100000|
+---+------+------+

In [0]:
df.filter( df.salary >50000).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
|  4|Nandan|100000|
+---+------+------+

In [0]:
df.where( (df.salary >50000) & ~(df.name.like ('%t%'))).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  4|Nandan|100000|
+---+------+------+

In [0]:
df.show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
+---+------+-------+

In [0]:
df.distinct().show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
+---+------+-------+

In [0]:
df.dropDuplicates().show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
+---+------+-------+

In [0]:
df

Out[24]: DataFrame[name: string, game: string, location: string]

In [0]:
df.dropDuplicates(['name','salary']).show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
+---+------+-------+

In [0]:
df.show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
+---+------+-------+

#### Order by , sort

In [0]:
df.show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
+---+------+-------+

In [0]:
df.sort('name').show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
+---+------+-------+

In [0]:
df.show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
+---+------+-------+

In [0]:
df.sort(df.name, df.salary.desc()).show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  5|Nandan|1200000|
|  4|Nandan| 100000|
|  1|Nilesh|  55000|
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
+---+------+-------+

In [0]:
df.orderBy(['name', 'salary']).show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
+---+------+-------+

In [0]:
df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
+---+------+------+

## Union

In [0]:
### sorting the data
data1 = [(1,'Nilesh','55000'),(2,'Nita','90000'),(3,'Sunita','10000'),(4,'Nandan','100000'),(5,'Nandan','1200000'),(1,'Nilesh','55000')]
columns =['id','name','salary']
df1 = spark.createDataFrame(data = data1, schema= columns)

df2 = spark.createDataFrame(data = data1, schema= columns)

In [0]:
df1.show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
+---+------+-------+

In [0]:
df2.show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
+---+------+-------+

In [0]:
new_df = df1.union(df1)
new_df.show()

+-----+--------+--------+
| name|    game|distance|
+-----+--------+--------+
|Nisha|   chess|  nearby|
| Nima|   chess|     far|
| Nila|football| UNKNOWN|
|Nisha|   chess|  nearby|
| Nima|   chess|     far|
| Nila|football| UNKNOWN|
+-----+--------+--------+

In [0]:
new_df = df1.union(df2)
new_df.show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
+---+------+-------+

In [0]:
new_df = df1.unionAll(df2)
new_df.show()

+---+------+-------+
| id|  name| salary|
+---+------+-------+
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
|  1|Nilesh|  55000|
|  2|  Nita|  90000|
|  3|Sunita|  10000|
|  4|Nandan| 100000|
|  5|Nandan|1200000|
|  1|Nilesh|  55000|
+---+------+-------+

In [0]:
data1 = [(1,'Nilesh',55000),(2,'Nita',90000),(3,'Sunita',10000),(5,'Suresh',50000)]
columns1 =['id','name','salary']

data2 = [(4,'Nandan','SATARA'),(5,'Nandan','PUNE'),(6,'Nilesh','MUMBAI')]
columns2 =['id','name','location']


df1 = spark.createDataFrame(data = data1, schema= columns1)
df1.show()
df2 = spark.createDataFrame(data = data2, schema= columns2)
df2.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
|  3|Sunita| 10000|
|  5|Suresh| 50000|
+---+------+------+

+---+------+--------+
| id|  name|location|
+---+------+--------+
|  4|Nandan|  SATARA|
|  5|Nandan|    PUNE|
|  6|Nilesh|  MUMBAI|
+---+------+--------+

In [0]:
df1.union(df2).show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
|  3|Sunita| 10000|
|  5|Suresh| 50000|
|  4|Nandan|SATARA|
|  5|Nandan|  PUNE|
|  6|Nilesh|MUMBAI|
+---+------+------+

In [0]:
### generate the error as column names are not same 
df1.unionByName(df2).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2053494685448580>:2
      1 ### generate the error as column names are not same
----> 2 df1.unionByName(df2).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3738, in DataFrame.unionByName(self, other, allowMissingColumns)
   3682 def unionByName(self, other: "DataFrame", allowMissingColumns: bool = False) -> "DataFrame":
   3683     """Returns a new :class:`DataFrame` containing union of rows in this and another
   3684     :class:`DataFrame`.
   3685
   (...)
   3736     +----+----+----+----+
   3737     """
-> 3738     return DataFrame(self._jdf.unionByName(other._jdf, allowMissingColumns), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Cannot resolve column name "salary" among (id, name, location).

In [0]:
df1.unionByName(allowMissingColumns=True, other = df2).show()

+---+------+------+--------+
| id|  name|salary|location|
+---+------+------+--------+
|  1|Nilesh| 55000|    null|
|  2|  Nita| 90000|    null|
|  3|Sunita| 10000|    null|
|  5|Suresh| 50000|    null|
|  4|Nandan|  null|  SATARA|
|  5|Nandan|  null|    PUNE|
|  6|Nilesh|  null|  MUMBAI|
+---+------+------+--------+

## JOINS

In [0]:
df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
|  3|Sunita| 10000|
+---+------+------+

In [0]:
df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
|  3|Sunita| 10000|
|  5|Suresh| 50000|
+---+------+------+

In [0]:
data3 = [(1,'Dhule'),(2,'Latur'),(3,'JALGAO'), (4,'BEED')]
columns3 = ['id','location']\

df3 = spark.createDataFrame(data3, columns3)
df3.show()

+---+--------+
| id|location|
+---+--------+
|  1|   Dhule|
|  2|   Latur|
|  3|  JALGAO|
|  4|    BEED|
+---+--------+

In [0]:
new_df =df1.join(df3, df1.id == df3.id, 'inner')
new_df.show()

+---+------+------+---+--------+
| id|  name|salary| id|location|
+---+------+------+---+--------+
|  1|Nilesh| 55000|  1|   Dhule|
|  2|  Nita| 90000|  2|   Latur|
|  3|Sunita| 10000|  3|  JALGAO|
+---+------+------+---+--------+

In [0]:
df1.join(df3, df1.id == df3.id, 'left').show()

+---+------+------+----+--------+
| id|  name|salary|  id|location|
+---+------+------+----+--------+
|  1|Nilesh| 55000|   1|   Dhule|
|  2|  Nita| 90000|   2|   Latur|
|  3|Sunita| 10000|   3|  JALGAO|
|  5|Suresh| 50000|null|    null|
+---+------+------+----+--------+

In [0]:
df1.join(df3, df1.id == df3.id, 'right').show()

+----+------+------+---+--------+
|  id|  name|salary| id|location|
+----+------+------+---+--------+
|   1|Nilesh| 55000|  1|   Dhule|
|   2|  Nita| 90000|  2|   Latur|
|   3|Sunita| 10000|  3|  JALGAO|
|null|  null|  null|  4|    BEED|
+----+------+------+---+--------+

In [0]:
df1.join(df3, df1.id == df3.id, 'full').show()

+----+------+------+----+--------+
|  id|  name|salary|  id|location|
+----+------+------+----+--------+
|   1|Nilesh| 55000|   1|   Dhule|
|   2|  Nita| 90000|   2|   Latur|
|   3|Sunita| 10000|   3|  JALGAO|
|null|  null|  null|   4|    BEED|
|   5|Suresh| 50000|null|    null|
+----+------+------+----+--------+

### SELF, LEFT SEMI, LEFT ANTI

In [0]:
df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
|  3|Sunita| 10000|
|  5|Suresh| 50000|
+---+------+------+

In [0]:
df3.show()

+---+--------+
| id|location|
+---+--------+
|  1|   Dhule|
|  2|   Latur|
|  3|  JALGAO|
|  4|    BEED|
+---+--------+

In [0]:
## return only left data columns
df1.join(df3, df1.id == df3.id, 'leftsemi').show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Nilesh| 55000|
|  2|  Nita| 90000|
|  3|Sunita| 10000|
+---+------+------+

In [0]:
df1.join(df3, df1.id == df3.id, 'rightsemi').show()

---------------------------------------------------------------------------
IllegalArgumentException                  Traceback (most recent call last)
File <command-142351326289122>:1
----> 1 df1.join(df3, df1.id == df3.id, 'rightsemi').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2364, in DataFrame.join(self, other, on, how)
   2362         on = self._jseq([])
   2363     assert isinstance(how, str), "how should be a string"
-> 2364     jdf = self._jdf.join(other._jdf, on, how)
   2365 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

IllegalArgumentException: Unsupported join type 'rightsemi'. Supported join types include: 'inner', 'outer', 'full', 'fullouter', 'full_outer', 'leftouter', 'left', 'left_outer', 'rightouter', 'right', 'right_outer', 'leftsemi', 'left_semi', 'semi', 'leftanti', 'left_anti', 'anti', 'cross'.

In [0]:
## return only right data columns
df1.join(df3, df1.id == df3.id, 'leftanti').show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  5|Suresh| 50000|
+---+------+------+

In [0]:
## return only left data columns
df1.join(df3, df1.id == df3.id, 'leftsemi').show()

In [0]:
data1 = [(1,'naresh',None),(2,'Ramesh',1),(3,'Suresh',2),(4,'Jignesh',2)]
columns4 = ['id','name','mgr_id']

df4 = spark.createDataFrame(data1, columns4)
df4.show()

+---+-------+------+
| id|   name|mgr_id|
+---+-------+------+
|  1| naresh|  null|
|  2| Ramesh|     1|
|  3| Suresh|     2|
|  4|Jignesh|     2|
+---+-------+------+

In [0]:
df4.join(d4)

In [0]:
## display manager name against name
from pyspark.sql.functions import col
##df1.join(df3, df1.id == df3.id, 'self').show()
df4.alias('emp').join(df4.alias('mgr') , col('emp.mgr_id') == col('mgr.id'), 'inner').show()

+---+-------+------+---+------+------+
| id|   name|mgr_id| id|  name|mgr_id|
+---+-------+------+---+------+------+
|  2| Ramesh|     1|  1|naresh|  null|
|  3| Suresh|     2|  2|Ramesh|     1|
|  4|Jignesh|     2|  2|Ramesh|     1|
+---+-------+------+---+------+------+

In [0]:
## display manager name against name
from pyspark.sql.functions import col
##df1.join(df3, df1.id == df3.id, 'self').show()
df4.alias('emp').join(df4.alias('mgr') , col('emp.mgr_id') == col('mgr.id'), 'left').show()

+---+-------+------+----+------+------+
| id|   name|mgr_id|  id|  name|mgr_id|
+---+-------+------+----+------+------+
|  1| naresh|  null|null|  null|  null|
|  2| Ramesh|     1|   1|naresh|  null|
|  3| Suresh|     2|   2|Ramesh|     1|
|  4|Jignesh|     2|   2|Ramesh|     1|
+---+-------+------+----+------+------+

In [0]:
## display manager name against name
from pyspark.sql.functions import col
##df1.join(df3, df1.id == df3.id, 'self').show()
df4.alias('emp').join(df4.alias('mgr') , col('emp.mgr_id') == col('mgr.id'), 'left')\
    .select(col('emp.name').alias('EMP_NAME'),  col('mgr.name').alias('MGR_NAME')).show()

+--------+--------+
|EMP_NAME|MGR_NAME|
+--------+--------+
|  naresh|    null|
|  Ramesh|  naresh|
|  Suresh|  Ramesh|
| Jignesh|  Ramesh|
+--------+--------+

In [0]:
df1 = spark.createDataFrame([("a", 1), ("a", 1), ("b", 3), ("c", 4)], ["C1", "C2"])
df2 = spark.createDataFrame([("a", 1), ("a", 1), ("b", 3)], ["C1", "C2"])
df1.subtract(df2).show()

+---+---+
| C1| C2|
+---+---+
|  c|  4|
+---+---+

In [0]:
row1= df4.collect()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-3270515310027760>:1
----> 1 row1= df4.collect()[0,2]

TypeError: list indices must be integers or slices, not tuple

In [0]:
row1[0][0:3:2]

Out[46]: (1, None)

In [0]:
cnt=0
for i in row1:
    print(row1[cnt][0:3:2])
    cnt=cnt+1

(1, None)
(2, 1)
(3, 2)
(4, 2)

In [0]:
[ i[0:3:2] for i in row1]

Out[57]: [(1, None), (2, 1), (3, 2), (4, 2)]

In [0]:
var = row1[0]

In [0]:
var[i for i in ['id','mgr_id']]

  File <command-1294697084394451>:1
    var[i for i in ['id','mgr_id']]
          ^
SyntaxError: invalid syntax

Out[42]: Row(id=1, name='naresh', mgr_id=None)

In [0]:
row1[0]['name']

Out[13]: 'naresh'

In [0]:
row1[0][0,3]

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
File /databricks/spark/python/pyspark/sql/types.py:2031, in Row.__getitem__(self, item)
   2028 try:
   2029     # it will be slow when it has many fields,
   2030     # but this will not be used in normal cases
-> 2031     idx = self.__fields__.index(item)
   2032     return super(Row, self).__getitem__(idx)

ValueError: (0, 3) is not in list

During handling of the above exception, another exception occurred:

ValueError                                Traceback (most recent call last)
File <command-3270515310027764>:1
----> 1 row1[0][0,3]

File /databricks/spark/python/pyspark/sql/types.py:2036, in Row.__getitem__(self, item)
   2034     raise KeyError(item)
   2035 except ValueError:
-> 2036     raise ValueError(item)

ValueError: (0, 3)