In [0]:
adv_df = spark.read.format('csv').option('header','true').option('inferSchema', 'true')\
    .load('dbfs:/FileStore/Advertising.csv')
adv_df.show()

+------+-----+-----+---------+-----+
| Month|   TV|radio|newspaper|sales|
+------+-----+-----+---------+-----+
|Jan-00|230.1| 37.8|     69.2| 22.1|
|Feb-00| 44.5| 39.3|     45.1| 10.4|
|Mar-00| 17.2| 45.9|     69.3|  9.3|
|Apr-00|151.5| 41.3|     58.5| 18.5|
|May-00|180.8| 10.8|     58.4| 12.9|
|Jun-00|  8.7| 48.9|     75.0|  7.2|
|Jul-00| 57.5| 32.8|     23.5| 11.8|
|Aug-00|120.2| 19.6|     11.6| 13.2|
|Sep-00|  8.6|  2.1|      1.0|  4.8|
|Oct-00|199.8|  2.6|     21.2| 10.6|
|Nov-00| 66.1|  5.8|     24.2|  8.6|
|Dec-00|214.7| 24.0|      4.0| 17.4|
|01-Jan| 23.8| 35.1|     65.9|  9.2|
|01-Feb| 97.5|  7.6|      7.2|  9.7|
|01-Mar|204.1| 32.9|     46.0| 19.0|
|01-Apr|195.4| 47.7|     52.9| 22.4|
|01-May| 67.8| 36.6|    114.0| 12.5|
|01-Jun|281.4| 39.6|     55.8| 24.4|
|01-Jul| 69.2| 20.5|     18.3| 11.3|
|01-Aug|147.3| 23.9|     19.1| 14.6|
+------+-----+-----+---------+-----+
only showing top 20 rows

In [0]:
adv_df.createOrReplaceTempView("adv_view")
q1 = spark.sql("""select * from adv_view
               where TV > 150""")
q1.show()

+------+-----+-----+---------+-----+
| Month|   TV|radio|newspaper|sales|
+------+-----+-----+---------+-----+
|Jan-00|230.1| 37.8|     69.2| 22.1|
|Apr-00|151.5| 41.3|     58.5| 18.5|
|May-00|180.8| 10.8|     58.4| 12.9|
|Oct-00|199.8|  2.6|     21.2| 10.6|
|Dec-00|214.7| 24.0|      4.0| 17.4|
|01-Mar|204.1| 32.9|     46.0| 19.0|
|01-Apr|195.4| 47.7|     52.9| 22.4|
|01-Jun|281.4| 39.6|     55.8| 24.4|
|01-Sep|218.4| 27.7|     53.4| 18.0|
|01-Oct|237.4|  5.1|     23.5| 12.5|
|01-Dec|228.3| 16.9|     26.2| 15.5|
|02-Feb|262.9|  3.5|     19.5| 12.0|
|02-Apr|240.1| 16.7|     22.9| 15.9|
|02-May|248.8| 27.1|     22.9| 18.9|
|02-Jul|292.9| 28.3|     43.2| 21.4|
|02-Oct|265.6| 20.0|      0.3| 17.4|
|02-Dec|290.7|  4.1|      8.5| 12.8|
|03-Jan|266.9| 43.8|      5.0| 25.4|
|03-Apr|228.0| 37.7|     32.0| 21.5|
|03-May|202.5| 22.3|     31.6| 16.6|
+------+-----+-----+---------+-----+
only showing top 20 rows

In [0]:
q2 = spark.sql("""select * from adv_view
               where TV > 150""").select('TV','sales')
q2.show()

+-----+-----+
|   TV|sales|
+-----+-----+
|230.1| 22.1|
|151.5| 18.5|
|180.8| 12.9|
|199.8| 10.6|
|214.7| 17.4|
|204.1| 19.0|
|195.4| 22.4|
|281.4| 24.4|
|218.4| 18.0|
|237.4| 12.5|
|228.3| 15.5|
|262.9| 12.0|
|240.1| 15.9|
|248.8| 18.9|
|292.9| 21.4|
|265.6| 17.4|
|290.7| 12.8|
|266.9| 25.4|
|228.0| 21.5|
|202.5| 16.6|
+-----+-----+
only showing top 20 rows

In [0]:
q2 = spark.sql("""select * from adv_view
               where TV > 150""").select('TV','sales').distinct()
q2.show()
q2.count()

+-----+-----+
|   TV|sales|
+-----+-----+
|151.5| 18.5|
|214.7| 17.4|
|265.6| 17.4|
|281.4| 24.4|
|228.3| 15.5|
|237.4| 12.5|
|266.9| 25.4|
|199.8| 10.6|
|248.8| 18.9|
|292.9| 21.4|
|218.4| 18.0|
|195.4| 22.4|
|230.1| 22.1|
|240.1| 15.9|
|180.8| 12.9|
|228.0| 21.5|
|202.5| 16.6|
|290.7| 12.8|
|177.0| 17.1|
|204.1| 19.0|
+-----+-----+
only showing top 20 rows

Out[9]: 99